*.o
.vscode
*.res
*.txt
*.old
*.speedups.csv
*.zip
/CircuitRouter-ParSolver/CircuitRouter-ParSolver
/CircuitRouter-SeqSolver/CircuitRouter-SeqSolver
/CircuitRouter-SimpleShell/CircuitRouter-SimpleShell
