body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

a {
  color: #009DE0;
  transition: 0.1s ease color;
  text-decoration: none;
}

a:hover {
  color: #E91E63;
}

.profile {
  border-radius: 0.4em;
  height: 5em;
  width: 5em;
  object-position: center;
  object-fit: cover;
  transition: .2s ease all;
  cursor: pointer;
}

.profile.rotate {
  transform: rotate(180deg)
}

.profile:hover {
  filter: grayscale(1)
}

#people {
  text-align: center;
  margin: 0 auto
}

.barranav {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 70px;
  width: 100%;
  color: white;
  background-color: black;
}

.mainbutton {
  transition: 0.2s;
  text-align: center;
  border: none;
  outline: none;
  float: left;
  font-size: 26pt;
  color: white;
  background-color: black;
  height: 70px;
  padding: 10px 30px;
}

.mainbutton:hover {
  transition: 0.2s;
  background-color: red;
}