:root {
  --watch-background: black;
  --watch-color: #2980b9;
}

* {
  box-sizing: border-box;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.goto {
  cursor: pointer;
}

body {
  font-family: sans-serif;
  transition: 0.5s ease all;
}

#container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#watch {
  width: 2.12in;
  height: 2.12in;
  position: relative;
  background: var(--watch-background);
  color: white;
  border-radius: 1em;
  border: 0.2em solid var(--watch-color);
  display: flex;
  flex-direction: column;
  transition: 0.5s ease all;
}

body.flashlight {
  background: #000;
}

body.flashlight #watch {
  box-shadow: white 0 0 10em;
}

#mainbutton {
  width: 0.5em;
  height: 1.5em;
  background: var(--watch-color);
  position: absolute;
  right: 1px;
  top: 10%;
  transform: translate(100%);
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

#mainbutton:active {
  right: 3px;
}

#status, #backbar {
  display: flex;
  padding: 0em 0.5em;
  align-items: center;
  height: 1.5em;
}

#status > *:first-child {
  margin-right: auto;
}

#status .clock {
  margin-right: 0.2em;
}

#screen-space {
  width: 100%;
  overflow: auto;
  height: calc(100% - 3em);
}

.screen {
  min-height: 100%;
  display: none;
}

.screen.active {
  display: block;
}

#lockscreen {
  text-align: center;
}

#lockscreen .clock {
  font-size: 3em;
  margin-bottom: 0.2em;
}

#lockscreen i {
  opacity: 0.5;
}

#mainmenu {
  padding: .6em .2em 0;
}

#mainmenu ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

#mainmenu ul li {
  width: calc(33% - 0.2em);
  border-radius: 0.3em;
  text-align: center;
  font-size: 2em;
  background: red;
  padding: 0.2em;
  margin: 0.1em;
  height: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainmenu ul li:nth-child(1) {
  background: #3498db;
}

#mainmenu ul li:nth-child(2) {
  background: #2ecc71;
}

#mainmenu ul li:nth-child(3) {
  background: #e67e22;
}

#mainmenu ul li:nth-child(4) {
  background: #f1c40f;
  /* border-bottom-left-radius: 0.1em; */
}

#mainmenu ul li:nth-child(5) {
  background: #ecf0f1;
  color: #212121;
  /* border-bottom-right-radius: 0.1em; */
}

#mainmenu ul li:nth-child(6) {
  background: #2980b9;
  /* border-bottom-right-radius: 0.1em; */
}

.item {
  display: flex;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.item > div:first-of-type {
  margin-right: 0.5em;
}

.item > div:first-of-type i {
  font-size: 1.6em;
}

.item img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  object-fit: cover;
}

.item p {
  margin: 0;
}

.item > div:last-of-type p:first-of-type {
  font-size: 1.2em;
}

.item > div:last-of-type p:last-of-type {
  font-size: 0.8em;
  margin-top: 0.2em;
}

#flashlight {
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.1);
  position: relative;
}

#flashlight i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4em;
  transform: translate(-50%, -50%);
}

#backbar #not-mainmenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.category i {
  font-size: 1.6em;
  width: 1.5em;
  text-align: center;
}

.category p {
  margin: 0
}

.recommended {
  color: #0fbcf9;
}

.favourites {
  color: #fff200;
}

.restaurants {
  color: #bdc3c7;
}

.parks {
  color: #2ecc71;
}

.monuments {
  color: #ffeaa7;
}

.markets {
  color: #fc5c65;
}